<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/main-hacker.scss" | relative_url }}">
  {%- include head.html -%}
</head>
<body>
  <div class="container">
    {%- include header.html -%}

    <main>
      {{ content }}
    </main>

    {%- include footer.html -%}
  </div>
</body>
</html>
